table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

nav {
  background-color: #666f88;
  height: 3em;
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 1em;
  color: white;
  font-weight: bold;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

/* .label-form {
  display: flex;
} */

input[type="text"],
input[type="password"],
input[type="number"],
select,
option {
  border: 1px solid #9d9d9d;
  border-radius: 3px;
  margin-left: 1em;
  width: 12em;
  height: 1.5em;
  background-color: white;
}

input[type="submit"] {
  width: 5em;
  margin-right: 1em;
}

label {
  margin-bottom: 1em;
  /* align-items: center; */
}

.body {
  padding: 2em;
}

.dash-menu {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.dash-button {
  width: 15em;
  height: 20em;
  background-image: linear-gradient(#666f88, #606980, #3d4251);
  border-radius: 8px;
  margin-right: 2em;
}

.dash-button a,
.dash-button a:hover,
.dash-button a:active,
.dash-button :visited {
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #666f88;
}

.login-box {
  width: 40vw;
  height: 80vh;
  box-shadow: 0px 0px 20px 5px #1e104a73;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  border-radius: 10px;
}

.login-box h1 {
  margin-bottom: 2em;
}

.login-note {
  margin-top: 12em;
  text-align: center;
}

td,
th {
  width: 10em;
  padding: 4px;
  border: 1px solid #686868;
}

.bar {
  float: left;
  background-color: #FF4136;
  width: 28px;
  height: 6px;
  margin: 0px 4px;
}
.bar:nth-child(2) {
  background-color: #FFDC00;
}

.bar:nth-child(3) {
  background-color: #2ECC40;
}

.bar:nth-child(4) {
  background-color: #01FF70;
}